/* body {
    background-color: honeydew;
} */
h1 {
    transition: font-size 5s;
}
h1:hover {
    font-size: 400%;
}
p{
    padding: 10px;
}
form fieldset{
    width: 600px;
    padding: 20px;
    margin: 20px;
}
input[type=text] {
    border: 2px solid skyblue;
    border-radius: 5px;
}
input:hover {
    background-color: lightblue;
}
#float {
    float: right;
    border: 1px dotted skyblue;
    border-radius: 10px;
    width: 8em;
    padding: 10px;    
}